/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
  min-height: 100%;
  width: 640px;
  margin: 0;
  background-color: #F7F2E0
}

img{
    border: 2px;
	width: 80%;
	height: 150px;
	position: relative;
	display: inline_block;
	margin: 0 10% 0 10%
 }

 li{
	 display: block;
	 position: relative
 }


nav{
  position: relative;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

nav>button{
  height: 100%;
  width: 100px;
  background-color: #FFBF00;
  font-size: 24px;
  color: #848484;
}

nav>button:first-child{
  display: inline-block;
  position: relative;
  margin-left: 1px;
}

nav>button:nth-of-type(2){
  display: inline-block;
  position: absolute;
  right: 0;
}
